
.my_image {
  height: 300px;
  Width: 500px;
}
h1 {
  color: #FFA500;
}
h4 {
  color: #2B2C1C;
  font-size: 45px
}
body {
  background-color: #93856A
}
a:hover {
  color: #09B3A7;
  background-color: #8B3A3A
}
.title {
  font-size: 75px;
}
#mydiv {
  background-color: #993300;
  width: 750px;
  border:50px;
  padding: 50px;
  margin: 50px;
}
#mypara {
  background-color: #ffffcc;
  width: 1000px;
  border:100px;
  padding: 100px;
  margin:100px;
}
#title {
  position: fixed;
}
