
.my_image {
  height: 500px;
  Width: 750px;
}
h1 {
  color: #FFA500;
}
h4 {
  color: #2B2C1C;
  font-size: 45px
}
body {
  background-color: #93856A
}
a:hover {
  color: #09B3A7;
  background-color: #8B3A3A
}
.title {
  font-size: 75px;
}
